html,body {
  background-color:#E3E3E3;
  color:#455D7A;
  font-family:Raleway, sans-serif;
  height:100%;
}

body {
  align-items:center;
  display:flex;
  flex-direction:column;
  overflow-x: hidden;
}

.title {
  margin:4em 0;
}

.title h1 {
  background:#233142;
  border-radius:50%;
  box-shadow:inset 0 -3px 30px #000;
  color:#F95959;
  display:inline-block;
  font-family:'Lobster Two', cursive;
  font-size:72px;
  margin-left:50%;
  padding: 100px;
  transform:translateX(-50%);
}

.section {
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

hr {
  border: none;
  border-bottom:2px solid #F95959;
}

.subtitle {
  font-size:24px;
}

p {
  font-size:20px;
  line-height:1.5;
  margin:.5em;
}

.footer {
  margin-bottom:1em;
  margin-top:auto;
  padding-top:3em;
}

.center {
  text-align:center;
}

a {
  border-bottom:1px solid #F95959;
  color:#F95959;
  text-decoration:none;
}

body > * {
  max-width:500px;
}

@media(max-width: 600px) {
  .title {
    width: 100%;
    margin: -50px -50px 2em;
    max-width: none;
  }

  .title h1 {
    border-radius: 0;
    width: 100%;
    text-align: center;
    padding: 100px 100px 50px;
  }

  p {
    font-size: 18px;
    line-height: 1.2;
    margin: .25em 1.0em;
  }
}